*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}
body{
    font-family: 'Poppins', sans-serif;
}
.main-div{
    width: 870px;
    margin: 0 auto;
   
}

/* header star  */
header{
    display: flex;
    margin-bottom: 50px;
}
.header-title{
    width: 420px;
}
.header-nav{
    width: 430px;
    position: relative;
}
.header-nav ul{
    display: flex;
    position: absolute;
    right: 10px;
    margin-top: 8px;
  
}
.header-nav ul li{
    list-style-type: none;
    margin-right: 15px;
    
}
.header-nav ul li a{
    text-decoration: none;
    font-weight: 700;
    color: black;
} 
/* header end  */

 /* section a start */
  /* section a start */
.a{
    
    display: flex;
}
.a-head{
    width: 430px;
    margin-top: 40px;
}
.a-head h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.a-head p{
    margin-bottom: 15px;
    font-weight: bold;
}
.a-head button{
    background-color: crimson;
    color: white;
    padding: 8px 10px;
    border:1px solid crimson;
    border-radius: 8px;
}
.a-image{
    width: 420px;
    background-image: url(images/Circle design.svg);
}
.a-image img{
    width: 100%;
}

 /* section a end*/

  /* section b start*/
.b{

}


.b-a{
    width: 600px;
    margin: 0 auto;
    border: 1px solid rgba(184, 179, 179, 0.384);
}
.b-a ul{
 display: flex;
}
.b-a ul li{
    width: 70px;
  list-style-type: none;
  margin-left: 25px;
}
.b-a ul li img{
   width: 100%;
   padding: 10px;
}

 /* section b end*/

  /* section c start*/
.c{
    margin: 10px;
}
.c-header h1{
    text-align: center;
}
 /* section a end*/

  /* section d star */
.d{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;

}
.d-a{
    width: 270px;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 3px 15px 2px grey;
    border-radius: 5px;

}
.d-a img{
    margin-bottom: 9px;
    width: 100%;
    padding-top: 5px;
}
.d-a h1,h4{
    margin-bottom: 5px;
}
.d-a p .star{
    color: darkgoldenrod;
    font-size: 10px;
}
.d-a p{
    margin-bottom: 8px;
}
 /* section d end*/

  /* section e start */

.e{

}
.e-div{
    position: relative;
}
.e-div h3{
 position:absolute;
 right:10px;


margin-top: 10px;
padding-bottom: 10px;
padding-left: 8px;
text-align: center;
padding-top: 5px;
padding-right: 5px;

border-radius: 5px;
}
.e-div h3 a{
 text-decoration: none;
 color: crimson;
 font-size: 14px;
}

/* section e end */
/* section f start */
.f{
  display: flex;
}
.f-img{
  width: 400px;
}
.f-img img{
    width: 100%;
    border-radius: 6px;
}
.f-title{
 width: 430px;
 margin-left: 20px;
 text-align: left;
 margin-top: 30px;
}
.f-title h1{
  font-size: 30px;
  margin-left: 6px;
}
.f-title p{
  text-align: justify;
  margin: 5px 12px;
}
.f-title button{
background-color: crimson;
border: 1px solid crimson;
border-radius: 5px;
color: white;
padding: 7px 10px;
}
/* section f end*/

 /* footer start */
footer{
    height: 170px;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.foter-div{
    text-align: center;
    padding-top: 30px;
}
.foter-div h2,h4,h5{
    margin-top: 5px;
}
.foter-div p a{
    color: white;
    margin-left: 10px;

}
.foter-div p{
    margin-top: 10px;
    
}

 /* footer end*/
@media screen and (max-width:768px){
    header{
        flex-direction: column;
        
    }
    .header-title{
        margin-left: 40px;
       
    }
    .header-nav{
        margin-left: 20px;
    }
    .header-nav ul{
    
        width: 100%;
      
    }
    .a{
        flex-direction: column;
    }
    .a-head{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .b{
 margin-left: 100px;
    }
    .b-a{
        
        width: 440px;
        margin-left: 10px;

    }
    .b-a ul li {
        width: 70px;
    }
    .b-a ul li img{
        width: 100%;
    }
    .c{
        margin-left: 150px;
    }
    .c-header{
      width: 300px;
      margin-left: 40px;
    }
    .d{
        grid-template-columns: repeat(2, 1fr);
      
    }
    .d-a{
        width: 50%;
        margin-left: 10px;
    }
    .e{

    }
    .e-div{
        width: 200px;
        margin-left: 30px;
    }
    .f{
       display: flex; 
    }
    .f-img{
        width: 250px;
        margin-left: 20px;
    }
    .f-title{

    }
    footer{
        width: 100%;
        margin-left: 20px;

    }
    .foter-div{

        width: 600px;
        margin-left:30px;
       
    }
}


 /* responsive mobile view start */
@media screen and ( max-width:688px) {
    header{
        flex-direction: column;
       
       
        
    
    }
    .header-title{
        margin-left: 40px;
       
    }
    .header-nav{
        margin-left: 20px;
    }
    .header-nav ul{
    
        width: 100%;
      
    }
    .a{
        flex-direction: column;
    }
    .a-head{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .b{

    }
    .b-a{
        
        width: 440px;
        margin-left: 10px;

    }
    .b-a ul li {
        width: 70px;
    }
    .b-a ul li img{
        width: 100%;
    }
    .c-header{
      width: 300px;
      margin-left: 40px;
    }
    .d{
        grid-template-columns: repeat(1, 1fr);
    }
    .d-a{
        min-width: 40%;
        margin-left: 40px;
    }
    .e{

    }
    .e-div{
        width: 200px;
        margin-left: 30px;
    }
    .f{
       flex-direction: column; 
    }
    .f-img{
        margin-left: 20px;
    }
    .f-title{

    }
    footer{
        width: 50%;
        margin-left: 20px;

    }
    
}
/* responsive mobile end */