*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}
body{
    font-family: 'Poppins', sans-serif;
}
.main-div{
    width: 870px;
    margin: 0 auto;
   
}
header{
    display: flex;
    margin-bottom: 50px;
}
.header-title{
    width: 420px;
}
.header-nav{
    width: 430px;
    position: relative;
}
.header-nav ul{
    display: flex;
    position: absolute;
    right: 10px;
    margin-top: 8px;
  
}
.header-nav ul li{
    list-style-type: none;
    margin-right: 15px;
    
}
.header-nav ul li a{
    text-decoration: none;
    font-weight: 700;
    color: black;
}
.a{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.a-head{
    width: 430px;
    margin-top: 40px;
}
.a-head h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.a-head p{
    margin-bottom: 15px;
    font-weight: bold;
}
.a-head button{
    background-color: crimson;
    color: white;
    padding: 8px 10px;
    border:1px solid crimson;
    border-radius: 8px;
}
.a-image{
    width: 420px;
    background-image: url(images/Circle design.svg);
}
.a-image img{
    width: 100%;
}
.c{
    margin: 10px;
}
.c-header h1{
    text-align: center;
}
.d{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;

}
.d-a{
    width: 270px;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 3px 15px 2px grey;
    border-radius: 5px;

}
.d-a img{
    margin-bottom: 9px;
    width: 100%;
    padding-top: 5px;
}
.d-a h1,h4{
    margin-bottom: 5px;
}
.d-a p .star{
    color: darkgoldenrod;
    font-size: 10px;
}
.d-a p{
    margin-bottom: 8px;
}

.e{

}
.e-div{
    position: relative;
}
.e-div h3{
 position:absolute;
 right:10px;
background-color: crimson;
color: white;
margin-top: 10px;
padding-bottom: 10px;
padding-left: 8px;
text-align: center;
padding-top: 5px;
padding-right: 5px;
border: 1px solid crimson;
border-radius: 5px;
}
.e-div h3 a{
 text-decoration: none;
 color: white;
 font-size: 14px;
}
footer{
    height: 170px;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.foter-div{
    text-align: center;
    padding-top: 30px;
}
.foter-div h2,h4,h5{
    margin-top: 5px;
}
.foter-div p a{
    color: white;
    margin-left: 10px;

}
.foter-div p{
    margin-top: 10px;
    
}
@media screen and (max-width:900px) {
    .main-div{
        margin-left: 10px;
    }
    header{
        width: 600px;
    }
    .a{
        grid-template-columns: repeat(2, 1fr);
        width: 600px;
       
    }
    .a-head{
        margin-top: 10px;
    }
    .c{
        width: 600px;
          
        }

        .d{
            grid-template-columns: repeat(2, 1fr);
            width: 600px;
        }
        .d-a{
            margin:0 auto;
           }
       
           footer{
               width: 600px;
           }
}


@media screen and ( max-width: 688px){
    .main-div{
        margin-left: 10px;
    }

    header{
        width: 500px;
        background-color: tomato;
    }
    .a{
         grid-template-columns: repeat(1, 1fr);
         width: 500px;
    }
    .a-head{
        margin-top: 10px;
    }
    main{
        
    }
    .c{
    width: 500px;
      
    }
    .d{
        grid-template-columns: repeat(1, 1fr);
        width: 500px;
    }
    .d-a{
     margin:0 auto;
    }

    footer{
        width: 500px;
    }
}